 <div class="todo-container">

       <img src="{{asset('/image/background.png')}}" alt="background" class="background">

       <span class="day">{{jourDate}}</span>

       <span class="date">{{heure}}</span>

      </div>
